<!--<section class="wrapper-main ">
  <div class="container-fluid no-pad">
    <div class="col-sm-12 title_actions no-pad">
      <h4 class="pull-left mb-4 no-pad">Customer Satisfaction</h4>
      <span class="glyphicon glyphicon-refresh pull-right glyph"></span>
    </div>
    <span *ngIf="_authService.UserProfiledetails.customer.customerSatisfactionURL.length==0" class="noData">
      No records found!
    </span>
    <span *ngIf="_authService.UserProfiledetails.customer.customerSatisfactionURL.length>0">
      <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(_authService.UserProfiledetails.customer.customerSatisfactionURL )" width="100%" height="100%" frameborder="0"></iframe>
    </span>
    </div>
  </section>-->
<!--<iframe src="https://app.powerbi.com/view?r=eyJrIjoiZWRhN2YwM2YtNGYxNi00ZDYxLTkyMjItMDE4MjFjMjIwZjRhIiwidCI6IjJjZjI3MzdlLTBiOWEtNDA1OS05MjIyLTNhMDQwOWZmZTBlMSIsImMiOjF9" frameborder="0"></iframe>-->
<si-spinner *ngIf="loading"></si-spinner>
<section class="wrapper-main">
  <div class="title_actions">
    <div class="col-md-4 no-pad">
      <!--<h4 class="">Agent Performance</h4>-->
    </div>
    <div class="col-md-8 text-right icon-links d-flex align-self-center justify-content-end no-pad ml-auto">
      <ul class="iconList">
        <li>
          <button *ngIf="!ScoreDetailsList" title="Download CSV" [disabled]="(customerSatisfactionFileInfo.length == 0)" (click)="downloadCustomerSatisfactionSheet()"><i class="fa fa-download"></i></button>
        </li>
        <li><a title="Refresh" (click)="refresh();"><i class="fa cr-icons">&#xf021;</i></a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid no-pad">
    <div class="col-md-12">
      <div class="row call-recording-tabs no-mar agent-main pad-r5">
        <div class="call-recording-navitem headingTile mr-2" style="width: 170px;background: #186742;border:1px solid #186742;">
          <div class="date-filter-main">
            <img src="../../../assets/images/review.png" alt="Customer Satisfaction" />
            <h4>Customer Satisfaction</h4>
          </div>
        </div>
        <div class="call-recording-navitem flex-grow-1 mr-2">
          <div class="date-filter-main">
            <h5>Customer Satisfaction Count</h5>
            <span class="count">{{tilescount.callcount}}</span>
          </div>
        </div>
        <!--<div class="call-recording-navitem flex-grow-1">
          <div class="date-filter-main">
            <h5>Total Score</h5>
            <span class="count">{{tilescount.totalScore}}</span>
          </div>
        </div>-->
        <div class="call-recording-navitem flex-grow-1 mr-2">
          <div class="date-filter-main">
            <h5>Avg Score</h5>
            <span class="count">{{tilescount.avgScore | number :'1.2-2'}}%</span>
          </div>
        </div>
        <div class="call-recording-navitem">
          <div class="date-filter-main">
            <h5>Avg Handle Time</h5>
            <span class="count">{{dataService.formatTime(tilescount.avgHandleTime)}}</span>
          </div>
        </div>
        <!--<div class="call-recording-navitem date-filteradj">
          <div class="date-filter-main scorefilter">
            <h5 class="mb-0">Score Filter</h5>
            <div class="filter-range">
              <span class="block">
                <span class="title">Min%</span>
                <input type="text" class="text-center" [(ngModel)]="minValue" (change)="scorefilter()">
              </span>
              <span class="block">
                <span class="title">Max%</span>
                <input type="text" class="text-center" [(ngModel)]="maxValue" (change)="scorefilter()">
              </span>
            </div>
          </div>
        </div>
        <div class="call-recording-navitem" hidden>
          <div class="date-filter-main">
            <h5>Keywords / Pharses</h5>
            <span class="count">
            </span>
          </div>
        </div>
        <div class="call-recording-navitem date-filteradj">
          <app-datefilter></app-datefilter>
          <div class="clearfix"></div>
        </div>
        <div class="call-recording-navitem date-filteradj">
          <app-uploadDateFilter></app-uploadDateFilter>
          <div class="clearfix"></div>
        </div>-->
      </div>
    </div>

    <div class="row no-mar">
      <div class="col-md-12 agent-table-details">
        <!--<div class="left-section">
          <div class="selection-main">
            <h6>Agent Name</h6>
            <div class="selection-content">
              <div class="selection-subcontent">
                <input type="checkbox" name="a1" [(ngModel)]="allAgents" [disabled]="ScoreDetailsList" [checked]="allAgents" (click)="selectAndDeselectAll(1)" />
                <label for="allAgents">Select All</label>
              </div>
              <div class="selection-subcontent" *ngFor="let item of customerFilterOptions.AgentNames; let i = index">
                <input type="checkbox" [checked]="item.selected" [disabled]="ScoreDetailsList" (change)="selectedFilter(item.name , 'Agent')" />
                <label>{{item.name}}</label>
              </div>
              <si-spinner *ngIf="smallLoader" class="small-spinner"></si-spinner>
            </div>
          </div>
          <div class="selection-main">
            <h6>Customer Account No</h6>
            <div class="selection-content">
              <div class="selection-subcontent">
                <input type="checkbox" name="a1" [(ngModel)]="allAccountNos" [disabled]="ScoreDetailsList" [checked]="allAccountNos" (click)="selectAndDeselectAll(2)" />
                <label for="allAccount">Select All</label>
              </div>
              <div class="selection-subcontent" *ngFor="let item of customerFilterOptions.customerAccountNumbers; let i = index">
                <input type="checkbox" name="a1" [checked]="item.selected" [disabled]="ScoreDetailsList" (change)="selectedFilter(item.name , 'AccountNumber')" />
                <label>{{item.name}}</label>
              </div>
              <si-spinner *ngIf="smallLoader" class="small-spinner"></si-spinner>
            </div>
          </div>
          <div class="selection-main">
            <h6>Customer Phone No</h6>
            <div class="selection-content">
              <div class="selection-subcontent">
                <input type="checkbox" name="a1" [(ngModel)]="allPhoneNos" [disabled]="ScoreDetailsList" [checked]="allPhoneNos" (click)="selectAndDeselectAll(3)" />
                <label for="allPhoneNo">Select All</label>
              </div>
              <div class="selection-subcontent" *ngFor="let item of customerFilterOptions.customerPhoneNumbers; let i = index">
                <input type="checkbox" name="a1" [checked]="item.selected" [disabled]="ScoreDetailsList" (change)="selectedFilter(item.name , 'PhoneNumber')" />
                <label>{{item.name}}</label>
              </div>
              <si-spinner *ngIf="smallLoader" class="small-spinner"></si-spinner>
            </div>
          </div>
        </div>-->
        <div class="mid-section transcript-pad agentpermormanceMain fullScreen">
          <div class="row no-mar">
            <div class="agentPerformance-table mb-2" *ngIf="!ScoreDetailsList">
              <div class="title">
                <div class="item" (click)="sort('FileName')" [ngClass]="reverse  ? 'up' : 'down'">
                  <span class="item-text" title="Call Audio">
                    Call Audio
                    <span *ngIf="key =='FileName'">
                      <span class="fas sort-icon fa-long-arrow-alt-up ascending"></span>
                      <span class="fas sort-icon fa-long-arrow-alt-down descending"></span>
                    </span>
                  </span>
                </div>
                <div class="item" (click)="sort('CustomerAccountNo')" [ngClass]="reverse  ? 'up' : 'down'">
                  <span class="item-text" title="Customer Account Number">
                    Cust Acct No
                    <span *ngIf="key =='CustomerAccountNo'">
                      <span class="fas sort-icon fa-long-arrow-alt-up ascending"></span>
                      <span class="fas sort-icon fa-long-arrow-alt-down descending"></span>
                    </span>
                  </span>
                  <span class="filterDropdown">
                    <button class="filter" type="button" (click)="getFilterData('CustomerAccountNo')">
                      <i class="fas fa-filter"></i>
                      <i class="fas fa-check-circle filterApplyed" *ngIf="fileInfoService.finalSelectedList.CustomerAccountNo != null  "></i>
                    </button>
                    <div class="dropdown-menu categoryList shadow-lg p-1 mb-5 " *ngIf="filterDropdownDisplay && selectedColumn === 'CustomerAccountNo'">
                      <div *ngIf="_filterDropdownService.dataSet">
                        <button class="btn btn-secondary float-right" (click)="clearFilterData('CustomerAccountNo')">Clear Filter</button>
                        <button class="btn apply-btn float-right" (click)="applyfilter('CustomerAccountNo')">Apply Filter</button>
                      </div>
                      <app-filter-dropdown></app-filter-dropdown>
                    </div>
                  </span>
                </div>
                <div class="item" (click)="sortByDate('CallDate')" [ngClass]="sortDate  ? 'up' : 'down'">
                  <span class="item-text" title="Call Date">
                    Call Date
                    <span *ngIf="key =='CallDate'">
                      <span class="fas sort-icon fa-long-arrow-alt-up ascending"></span>
                      <span class="fas sort-icon fa-long-arrow-alt-down descending"></span>
                    </span>
                  </span>
                  <span class="filterDropdown">
                    <button class="filter" type="button" (click)="getFilterData('CallDate');defaultFilter()">
                      <i class="fas fa-filter"></i>
                      <i class="fas fa-check-circle filterApplyed" *ngIf="fileInfoService.finalSelectedList.CallDate != null"></i>
                    </button>
                    <div class="dropdown-menu categoryList shadow-lg p-1 mb-5 " *ngIf="filterDropdownDisplay && selectedColumn === 'CallDate'">
                      <div>
                        <button class="btn btn-secondary float-right" (click)="clearFilterData('CallDate')">Clear Filter</button>
                      </div>
                      <app-datefilter></app-datefilter>
                    </div>
                  </span>
                </div>
                <div class="item" (click)="sortByDate('UploadedDate')" [ngClass]="sortDate  ? 'up' : 'down'">
                  <span class="item-text" title="Uploaded Date">
                    Uploaded Date
                    <span *ngIf="key =='UploadedDate'">
                      <span class="fas sort-icon fa-long-arrow-alt-up ascending"></span>
                      <span class="fas sort-icon fa-long-arrow-alt-down descending"></span>
                    </span>
                  </span>
                  <span class="filterDropdown">
                    <button class="filter" type="button" (click)="getFilterData('UploadedDate')">
                      <i class="fas fa-filter"></i>
                      <i class="fas fa-check-circle filterApplyed" *ngIf="fileInfoService.finalSelectedList.UploadedDate != null"></i>
                    </button>
                    <div class="dropdown-menu categoryList shadow-lg p-1 mb-5 " *ngIf="filterDropdownDisplay && selectedColumn === 'UploadedDate'">
                      <div>
                        <button class="btn btn-secondary float-right" (click)="clearFilterData('UploadedDate')">Clear Filter</button>
                      </div>
                      <app-uploadDateFilter></app-uploadDateFilter>
                    </div>
                  </span>
                </div>
                <div class="item" (click)="sort('AgentName')" [ngClass]="reverse  ? 'up' : 'down'">
                  <span class="item-text" title="Agent Name">
                    Agent Name
                    <span *ngIf="key =='AgentName'">
                      <span class="fas sort-icon fa-long-arrow-alt-up ascending"></span>
                      <span class="fas sort-icon fa-long-arrow-alt-down descending"></span>
                    </span>
                  </span>
                  <span class="filterDropdown" *ngIf="role != 'Customer_Agent'">
                    <button class="filter" type="button" (click)="getFilterData('AgentName')">
                      <i class="fas fa-filter"></i>
                      <i class="fas fa-check-circle filterApplyed" *ngIf="fileInfoService.finalSelectedList.AgentName != null"></i>
                    </button>
                    <div class="dropdown-menu categoryList shadow-lg p-1 mb-5 " *ngIf="filterDropdownDisplay && selectedColumn === 'AgentName'">
                      <div *ngIf="_filterDropdownService.dataSet">
                        <button class="btn btn-secondary float-right" (click)="clearFilterData('AgentName')">Clear Filter</button>
                        <button class="btn apply-btn float-right" (click)="applyfilter('AgentName')">Apply Filter</button>
                      </div>
                      <app-filter-dropdown></app-filter-dropdown>
                    </div>
                  </span>
                </div>
                <div class="item text-center" (click)="sort('TotalWeighted_Score')" [ngClass]="reverse  ? 'up' : 'down'">
                  <span title="Customer Satisfaction Score" class="item-text">
                    Cust Satisfaction Score (%)
                    <span *ngIf="key =='TotalWeighted_Score'">
                      <span class="fas sort-icon fa-long-arrow-alt-up ascending"></span>
                      <span class="fas sort-icon fa-long-arrow-alt-down descending"></span>
                    </span>
                  </span>
                  <span class="filterDropdown">
                    <button class="filter" type="button" (click)="getFilterData('TotalWeighted_Score')">
                      <i class="fas fa-filter"></i>
                      <i class="fas fa-check-circle filterApplyed" *ngIf="fileInfoService.finalSelectedList.TotalWeighted_Score != null"></i>
                    </button>
                    <div class="dropdown-menu categoryList shadow-lg p-1 mb-5 " *ngIf="filterDropdownDisplay && selectedColumn === 'TotalWeighted_Score'">
                      <div>
                        <button class="btn btn-secondary float-right" (click)="clearFilterData('TotalWeighted_Score')">Clear Filter</button>
                        <button class="btn apply-btn float-right" (click)="scorefilter()">Apply Filter</button>
                      </div>
                      <div class="date-filter-main scorefilter">
                        <!--<h5 class="mb-0">Score Filter</h5>-->
                        <div class="filter-range">
                          <span class="block">
                            <span class="title">Min%</span>
                            <input type="text" class="text-center" [(ngModel)]="minValue">
                          </span>
                          <span class="block">
                            <span class="title">Max%</span>
                            <input type="text" class="text-center" [(ngModel)]="maxValue">
                          </span>
                          <!--<ng5-slider [(value)]="minValue" [(highValue)]="maxValue"  [options]="options" class="mb-0 mt-2"></ng5-slider>-->
                        </div>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="item">View Score</div>
                <div class="item">Call Transcript</div>
              </div>
              <div class="table-content ps" [perfectScrollbar]="config">
                <div *ngFor="let file of customerSatisfactionFileInfo | orderBy: key : reverse | sortByDate: key; let i = index" class="items-main">
                  <!--<div class="item">
                  <input type="checkbox" [(ngModel)]="file.apselected"  (change)="filterAgentPerformance()" [checked]="file.apselected"/>
                    </div>-->
                  <div class="d-flex fullwidth" id="{{i}}">
                    <div class="item">
                      <span class="audioBtn" [title]="file.FileName">
                        <span (click)="audioPlay(file, i)" class="play" [hidden]="file.audioPath"><i class="fa fa-play"></i></span>
                        <audio controls autoplay [src]="file.audioPath" type="audio/mp3" class="audio"></audio>
                      </span>
                    </div>
                      <!--<span [title]="file.FileName">
                        {{file.FileName}}
                      </span>-->
                    </div>
                    <div class="item"><span [title]="file.CustomerAccountNo">{{file.CustomerAccountNo}}</span></div>
                    <div class="item"><span [title]="file.CallDate | date:'MMM dd, yyyy'">{{file.CallDate | date:"MMM dd, yyyy"}}</span></div>
                    <div class="item"><span [title]="getModifiedDate(file.UploadedDate)">{{getModifiedDate(file.UploadedDate)}}</span></div>
                    <div class="item"><span [title]="file.AgentName">{{file.AgentName}}</span></div>
                    <div class="item text-center marg-t5" [style.backgroundColor]="file.colorzone">{{file.TotalWeighted_Score}}<span>%</span></div>
                    <div class="item">
                      <a class="btn btn-1 customerViewScore" (click)="showDetailedScore(file); $event.stopPropagation()">
                        View Score
                      </a>
                    </div>
                    <div class="item">
                      <a class="btn btn-2" routerLink="/dashboard/callTranscripts" (click)="editFile(file.Guid, file.FileName, 'Completed', i, file.TranscriptAPISource); activemenu('Call Transcripts');navigationFromAgent(); $event.stopPropagation()">
                        <i class="fas fa-eye" title="View transcript"></i>
                      </a>
                      <a class="btn btn-2" routerLink="/dashboard/ExploreCall" (click)="exploreCallDetails();editFile(file.Guid, file.FileName, 'Completed', i, file.TranscriptAPISource); activemenu('Call Transcripts');navigationFromAgent(); $event.stopPropagation()">
                        <i class="far fa-compass" title="Explore call"></i>
                      </a>
                      <!--<a class="btn btn-2" routerLink="/dashboard/callTranscripts" (click)="editFile(file.Guid, file.Call_FileName, 'Completed', i, file.TranscriptAPISource); activemenu('Call Transcripts');navigationFromCustomerSatisfaction(); $event.stopPropagation()">
                        View Transcript
                      </a>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="pagination">
                <strong>Pages : </strong>
                <span class="ml-1" *ngFor="let page of totalpagecount">
                  <button type="button" class="pageNumber" [ngClass]="selectedPage === page.pagemumber ? 'active' : ''" [disabled]="loading" (click)="selectedPageIndex(page.pagemumber)"> {{page.pagemumber}}</button>
                </span>
              </div>
            </div>
            <div class="question-table backbtn" *ngIf="ScoreDetailsList">
              <a (click)="backToAgentsPerformance()" *ngIf="_authService.navigationBackFromAgentPage  || _authService.navigatedfromCallTranscriptionPage && !_authService.navigationBackFromcalltranscrtiptionPage" class="btnactive blue-color agentback underline back pull-left"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
              <a (click)="backToAgentsPerformance()" *ngIf="!_authService.navigatedfromCallTranscriptionPage && !_authService.navigationBackFromcalltranscrtiptionPage" class="blue-color agentback underline back pull-left btnactive"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
              <a (click)="editFile(customerSatisfactionFileInfo[0].Guid, customerSatisfactionFileInfo[0].FileName, 'Completed', _authService.selectedFileindex, customerSatisfactionFileInfo[0].TranscriptAPISource); activemenu('Call Transcripts')" *ngIf="_authService.navigatedfromCallTranscriptionPage && _authService.navigationBackFromcalltranscrtiptionPage" class="btnactive blue-color agentback underline back pull-left"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
              <a (click)="backToAgentsPerformance()" class="btnactive blue-color agentback underline back pull-left"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
              <div class="view-trascript" *ngIf="questionsList.length > 0">
                <a (click)="editFile(customerSatisfactionFileInfo[0].Guid, customerSatisfactionFileInfo[0].FileName, 'Completed', _authService.selectedFileindex, agentsFilesInfo[0].TranscriptAPISource); activemenu('Call Transcripts')" *ngIf="_authService.navigatedfromCallTranscriptionPage" class="btn btn-2 agenttranscript-Btn" style="float:right"> View Transcript </a>
                <a (click)="editFile(customerSatisfactionFileInfo[0].Guid, customerSatisfactionFileInfo[0].FileName, 'Completed', 1,customerSatisfactionFileInfo[0].TranscriptAPISource); activemenu('Call Transcripts');navigationFromCustomerSatisfactionScorepage();" *ngIf="!_authService.navigatedfromCallTranscriptionPage" class="btn btn-2 agenttranscript-Btn" style="float:right"> View Transcript</a>
              </div>
              <div class="title">
                <div class="item">Q.No</div>
                <div class="item">Section</div>
                <div class="item">Question</div>
                <div class="item">Spotted Keyword</div>
                <div class="item text-center" (click)="sortBy('Score_Weightage')" [ngClass]="iconToggle  ? 'up' : 'down'">
                  Score
                  <span *ngIf="property =='Score_Weightage'">
                    <span class="fas sort-icon fa-long-arrow-alt-up ascending"></span>
                    <span class="fas sort-icon fa-long-arrow-alt-down descending"></span>
                  </span>
                </div>
                <!--<div class="item text-center">Avg Score</div>-->
              </div>
              <div class="table-content scoreList ps" [perfectScrollbar]="config">
                <div class="items-main d-flex align-items-center" *ngFor="let file of questionsList ;  let i = index">
                  <a class="d-flex align-items-center">
                    <!--<div class="item">
                      <input type="checkbox" [(ngModel)]="file.qselected" [checked]="file.qselected" />
                    </div>-->
                    <div class="item">
                      <span>
                        {{file.Question_No}}
                      </span>
                    </div>
                    <div class="item">{{file.Question_Category}}</div>
                    <div class="item">{{file.Question_Description}}</div>
                    <div class="item"><span *ngFor="let key of file.sportedKewords"><span class="chip" *ngIf="key != ''">{{key}}</span></span></div>
                    <div class="item text-center" [style.backgroundColor]="file.colorzone">{{file.Score_Weightage}}</div>
                    <!--<div class="item text-center" [ngClass]="file['Score Weightage']>20 ? 'avgScoreBlue' : file['Score Weightage']>10 ? 'avgScorePink' : 'avgScoreGreen'">0</div>-->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

