# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
/.vs/si-dashboard3/v15/.suo
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/distDev
/distDemo/styles.ab1521c24f0469d06653.bundle.css
/distDemo/search-icon.8a56458c9ea7ba718fcf.png
/distDemo/scripts.755c7601935defc2c19e.bundle.js
/distDemo/polyfills.d86d2b84e265da94e0a9.bundle.js
/distDemo/new.270f613660b0d0a857ed.jpg
/distDemo/main.463212d07f2e91e4ba2d.bundle.js
/distDemo/inline.318b50c57b4eba3d437b.bundle.js
/distDemo/index.html
/distDemo/header-bg.984b93f4f8c39219bd4b.jpg
/distDemo/favicon.png
/distDemo/fa-solid-900.fb493903265cad425ccd.woff2
/distDemo/fa-solid-900.f29ad0031ad2c1c14b77.eot
/distDemo/fa-solid-900.bcb927a742a8370b7664.woff
/distDemo/fa-solid-900.48f54f63d7711d0912a9.ttf
/distDemo/fa-solid-900.2a803d1830aa624f83dc.svg
/distDemo/fa-regular-400.bdadb6ce95c5a2e7b673.woff2
/distDemo/fa-regular-400.b48c48ea8457846a5695.ttf
/distDemo/fa-regular-400.6993975cbae77892abc3.svg
/distDemo/fa-regular-400.6493321d567eb0f22bd5.eot
/distDemo/fa-regular-400.0b5e3a5451fc62d9023c.woff
/distDemo/fa-brands-400.ec0716ae8aa1ba781a1a.eot
/distDemo/fa-brands-400.b69de69a4ff8ca0abe96.ttf
/distDemo/fa-brands-400.8b7a9afd7b95f62e6ee8.woff
/distDemo/fa-brands-400.659c4d58b00226541ef9.woff2
/distDemo/fa-brands-400.226ea55c3d9b36d4388f.svg
/distDemo/banner1.9adfa020366c855888be.jpg
/distDemo/banner-mobile.372f10ce1739f797ccfe.jpg
/distDemo/assets/landing-page-libraries/webfonts/fa-solid-900.woff2
/distDemo/assets/landing-page-libraries/webfonts/fa-solid-900.woff
/distDemo/assets/landing-page-libraries/webfonts/fa-solid-900.ttf
/distDemo/assets/landing-page-libraries/webfonts/fa-solid-900.svg
/distDemo/assets/landing-page-libraries/webfonts/fa-solid-900.eot
/distDemo/assets/landing-page-libraries/webfonts/fa-regular-400.woff2
/distDemo/assets/landing-page-libraries/webfonts/fa-regular-400.woff
/distDemo/assets/landing-page-libraries/webfonts/fa-regular-400.ttf
/distDemo/assets/landing-page-libraries/webfonts/fa-regular-400.svg
/distDemo/assets/landing-page-libraries/webfonts/fa-regular-400.eot
/distDemo/assets/landing-page-libraries/webfonts/fa-brands-400.woff2
/distDemo/assets/landing-page-libraries/webfonts/fa-brands-400.woff
/distDemo/assets/landing-page-libraries/webfonts/fa-brands-400.ttf
/distDemo/assets/landing-page-libraries/webfonts/fa-brands-400.svg
/distDemo/assets/landing-page-libraries/webfonts/fa-brands-400.eot
/distDemo/assets/landing-page-libraries/css/style.css
/distDemo/assets/landing-page-libraries/css/simpleLightbox.css
/distDemo/assets/landing-page-libraries/css/owl.theme.css
/distDemo/assets/landing-page-libraries/css/owl.carousel.css
/distDemo/assets/landing-page-libraries/css/fontawesome-all.css
/distDemo/assets/landing-page-libraries/css/flexslider.css
/distDemo/assets/landing-page-libraries/css/bootstrap.min.css
/distDemo/assets/images/youtube1.png
/distDemo/assets/images/vimeo.png
/distDemo/assets/images/user.png
/distDemo/assets/images/upload.png
/distDemo/assets/images/SpeechIntel-Logo.png
/distDemo/assets/images/SpeechIntel-Logo-source.png
/distDemo/assets/images/SpeechIntel-Caption.png
/distDemo/assets/images/sftp.jpg
/distDemo/assets/images/settings.png
/distDemo/assets/images/search-icon.png
/distDemo/assets/images/sample.PNG
/distDemo/assets/images/rss.jpg
/distDemo/assets/images/right11.png
/distDemo/assets/images/right.png
/distDemo/assets/images/right-arrow.jpg
/distDemo/assets/images/review.png
/distDemo/assets/images/questions.png
/distDemo/assets/images/press-ganey-holdings-inc-logo.png
/distDemo/assets/images/podrss.jpg
/distDemo/assets/images/overlay.png
/distDemo/assets/images/new.jpg
/distDemo/assets/images/new-file.png
/distDemo/assets/images/merge-call.png
/distDemo/assets/images/magnifying-glass.png
/distDemo/assets/images/Logo_Final.png
/distDemo/assets/images/logo1.png
/distDemo/assets/images/logo1.jpg
/distDemo/assets/images/logo.png
/distDemo/assets/images/loader.gif
/distDemo/assets/images/LMG_logo.png
/distDemo/assets/images/left11.png
/distDemo/assets/images/left.png
/distDemo/assets/images/increasing-stocks-graphic.png
/distDemo/assets/images/home.png
/distDemo/assets/images/help.png
/distDemo/assets/images/header-bg.jpg
/distDemo/assets/images/google.jpg
/distDemo/assets/images/ftp.jpg
/distDemo/assets/images/Files-icon.png
/distDemo/assets/images/drop.jpg
/distDemo/assets/images/DownloadSplit.png
/distDemo/assets/images/down-arrow.png
/distDemo/assets/images/dott.png
/distDemo/assets/images/dashboard.png
/distDemo/assets/images/content-img5.jpg
/distDemo/assets/images/content-img4.jpg
/distDemo/assets/images/content-img3.jpg
/distDemo/assets/images/content-img2.jpg
/distDemo/assets/images/content-img1.jpg
/distDemo/assets/images/contact-center-ai-e2e.png
/distDemo/assets/images/close.png
/distDemo/assets/images/call.png
/distDemo/assets/images/buck-img.png
/distDemo/assets/images/bruno.png
/distDemo/assets/images/box.jpg
/distDemo/assets/images/bolt-img.png
/distDemo/assets/images/bg-img.png
/distDemo/assets/images/banner3.jpg
/distDemo/assets/images/banner23.jpg
/distDemo/assets/images/banner22.jpg
/distDemo/assets/images/banner2.jpg
/distDemo/assets/images/banner1.jpg
/distDemo/assets/images/banner-mobile.jpg
/distDemo/assets/images/avatar.png
/distDemo/assets/images/arrow.png
/distDemo/assets/images/amazone2.png
/distDemo/assets/images/alarm.png
/distDemo/assets/images/agent.png
/distDemo/3rdpartylicenses.txt
/distProd/styles.81475a3e0a403915527d.bundle.css
/distProd/search-icon.8a56458c9ea7ba718fcf.png
/distProd/scripts.755c7601935defc2c19e.bundle.js
/distProd/polyfills.d86d2b84e265da94e0a9.bundle.js
/distProd/new.270f613660b0d0a857ed.jpg
/distProd/main.feb0e3ec63bc18674e5d.bundle.js
/distProd/inline.318b50c57b4eba3d437b.bundle.js
/distProd/index.html
/distProd/header-bg.984b93f4f8c39219bd4b.jpg
/distProd/favicon.png
/distProd/fa-solid-900.fb493903265cad425ccd.woff2
/distProd/fa-solid-900.f29ad0031ad2c1c14b77.eot
/distProd/fa-solid-900.bcb927a742a8370b7664.woff
/distProd/fa-solid-900.48f54f63d7711d0912a9.ttf
/distProd/fa-solid-900.2a803d1830aa624f83dc.svg
/distProd/fa-regular-400.bdadb6ce95c5a2e7b673.woff2
/distProd/fa-regular-400.b48c48ea8457846a5695.ttf
/distProd/fa-regular-400.6993975cbae77892abc3.svg
/distProd/fa-regular-400.6493321d567eb0f22bd5.eot
/distProd/fa-regular-400.0b5e3a5451fc62d9023c.woff
/distProd/fa-brands-400.ec0716ae8aa1ba781a1a.eot
/distProd/fa-brands-400.b69de69a4ff8ca0abe96.ttf
/distProd/fa-brands-400.8b7a9afd7b95f62e6ee8.woff
/distProd/fa-brands-400.659c4d58b00226541ef9.woff2
/distProd/fa-brands-400.226ea55c3d9b36d4388f.svg
/distProd/banner1.9adfa020366c855888be.jpg
/distProd/banner-mobile.372f10ce1739f797ccfe.jpg
/distProd/assets/landing-page-libraries/webfonts/fa-solid-900.woff2
/distProd/assets/landing-page-libraries/webfonts/fa-solid-900.woff
/distProd/assets/landing-page-libraries/webfonts/fa-solid-900.ttf
/distProd/assets/landing-page-libraries/webfonts/fa-solid-900.svg
/distProd/assets/landing-page-libraries/webfonts/fa-solid-900.eot
/distProd/assets/landing-page-libraries/webfonts/fa-regular-400.woff2
/distProd/assets/landing-page-libraries/webfonts/fa-regular-400.woff
/distProd/assets/landing-page-libraries/webfonts/fa-regular-400.ttf
/distProd/assets/landing-page-libraries/webfonts/fa-regular-400.svg
/distProd/assets/landing-page-libraries/webfonts/fa-regular-400.eot
/distProd/assets/landing-page-libraries/webfonts/fa-brands-400.woff2
/distProd/assets/landing-page-libraries/webfonts/fa-brands-400.woff
/distProd/assets/landing-page-libraries/webfonts/fa-brands-400.ttf
/distProd/assets/landing-page-libraries/webfonts/fa-brands-400.svg
/distProd/assets/landing-page-libraries/webfonts/fa-brands-400.eot
/distProd/assets/landing-page-libraries/css/style.css
/distProd/assets/landing-page-libraries/css/simpleLightbox.css
/distProd/assets/landing-page-libraries/css/owl.theme.css
/distProd/assets/landing-page-libraries/css/owl.carousel.css
/distProd/assets/landing-page-libraries/css/fontawesome-all.css
/distProd/assets/landing-page-libraries/css/flexslider.css
/distProd/assets/landing-page-libraries/css/bootstrap.min.css
/distProd/assets/images/youtube1.png
/distProd/assets/images/vimeo.png
/distProd/assets/images/user.png
/distProd/assets/images/upload.png
/distProd/assets/images/SpeechIntel-Logo.png
/distProd/assets/images/SpeechIntel-Logo-source.png
/distProd/assets/images/SpeechIntel-Caption.png
/distProd/assets/images/sftp.jpg
/distProd/assets/images/settings.png
/distProd/assets/images/search-icon.png
/distProd/assets/images/sample.PNG
/distProd/assets/images/rss.jpg
/distProd/assets/images/right11.png
/distProd/assets/images/right.png
/distProd/assets/images/right-arrow.jpg
/distProd/assets/images/review.png
/distProd/assets/images/questions.png
/distProd/assets/images/press-ganey-holdings-inc-logo.png
/distProd/assets/images/podrss.jpg
/distProd/assets/images/overlay.png
/distProd/assets/images/new.jpg
/distProd/assets/images/new-file.png
/distProd/assets/images/merge-call.png
/distProd/assets/images/magnifying-glass.png
/distProd/assets/images/Logo_Final.png
/distProd/assets/images/logo1.png
/distProd/assets/images/logo1.jpg
/distProd/assets/images/logo.png
/distProd/assets/images/loader.gif
/distProd/assets/images/LMG_logo.png
/distProd/assets/images/left11.png
/distProd/assets/images/left.png
/distProd/assets/images/increasing-stocks-graphic.png
/distProd/assets/images/home.png
/distProd/assets/images/help.png
/distProd/assets/images/header-bg.jpg
/distProd/assets/images/google.jpg
/distProd/assets/images/ftp.jpg
/distProd/assets/images/Files-icon.png
/distProd/assets/images/drop.jpg
/distProd/assets/images/DownloadSplit.png
/distProd/assets/images/down-arrow.png
/distProd/assets/images/dott.png
/distProd/assets/images/dashboard.png
/distProd/assets/images/content-img5.jpg
/distProd/assets/images/content-img4.jpg
/distProd/assets/images/content-img3.jpg
/distProd/assets/images/content-img2.jpg
/distProd/assets/images/content-img1.jpg
/distProd/assets/images/contact-center-ai-e2e.png
/distProd/assets/images/close.png
/distProd/assets/images/call.png
/distProd/assets/images/buck-img.png
/distProd/assets/images/bruno.png
/distProd/assets/images/box.jpg
/distProd/assets/images/bolt-img.png
/distProd/assets/images/bg-img.png
/distProd/assets/images/banner3.jpg
/distProd/assets/images/banner23.jpg
/distProd/assets/images/banner22.jpg
/distProd/assets/images/banner2.jpg
/distProd/assets/images/banner1.jpg
/distProd/assets/images/banner-mobile.jpg
/distProd/assets/images/avatar.png
/distProd/assets/images/arrow.png
/distProd/assets/images/amazone2.png
/distProd/assets/images/alarm.png
/distProd/assets/images/agent.png
/distProd/3rdpartylicenses.txt
/distDemo/styles.81475a3e0a403915527d.bundle.css
/distDemo/main.5b9f4ae41d17f1b6fe23.bundle.js
/distProd
/distDemo
