<section class="wrapper-main">
  <div class="container-fluid no-pad">
    <div class="row no-mar">
      <div class="title_actions ">
        <h4 class="no-mar">User Profile</h4>
      </div>        
    </div>
    <div class="profile-page ps" [perfectScrollbar]="config">
      <!--<h3 class="ml-3 mt-3 mb-3">User Profile</h3>-->
      <div class="row no-mar mt-3">
        <div class="col-sm-6">
          <app-profile-info></app-profile-info>
        </div>
        <div class="col-sm-6">
          <app-company-info></app-company-info>
        </div>
      </div>
    </div>
  </div>
  </section>
